.support-main {
    padding: 30px 120px 0px 120px;
    display: block;
    position: relative;
}
.support-main h1 {
    font-size: 1.5rem;
    color: #1a4652;
}
.support-main p {
    text-align: justify;
    font-family: CenturySchool,sans-serif;
    color: #818a91;
    margin-inline: 20px;
    margin-bottom: 30px;
}